# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# EnergyPlus outputs
Output/*
Output

# Code Generation
*.mexa64
*.mex*
*.mexmaci64
slprj
super_grt_rtw

# Matlab
*.autosave
*~
*.slx.unknown_version

# MLE+
*.6
socket.cfg
utilSocket.log
*.log
MLEPSETTINGS.mat

# E+
*.err
*.eio
*.eso
*.bnd
*.audit
*.end
*.mdd
*.shd
*.sql
*.csv
*.idd
*.ini
*.epw
*.htm
*.mtd
*.rdd
in.idf
*.dxf
*.mtr
*.rvaudit
*.svg

# Windows/Mac
.DS_Store
*.asv


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
